<app-card titulo="Primeiro Componente" cor="#3D4D63">
  <app-first-component></app-first-component>
</app-card>
<app-card titulo="Aprofundando o conhecimento em Templates" cor="#B2E7E8">
  <app-second-component></app-second-component>
</app-card>
<app-card titulo="Pipes" cor="#BFB9AA">
  <app-pipe-custom></app-pipe-custom>
</app-card>
<app-card titulo="Two-Way Data binding" cor="#F2D096">
  <app-two-way-data-binding></app-two-way-data-binding>
</app-card>
<app-card titulo="Renderizando Listas" cor="#ED8975">
  <app-lists-render></app-lists-render>
</app-card>
<app-card titulo="Componente Customizado" cor="#FFE3DC">
  <app-custom-component nome="Caio" sobrenome="Kenedy"></app-custom-component>
  <app-custom-component nome="Joao" sobrenome="José"></app-custom-component>
</app-card>
<app-card titulo="Compartilhando dados entre componentes" cor="#A2AD91">
  <app-father-component></app-father-component>
</app-card>
<app-card titulo="Serviços" cor="#3A2D32">
  <app-service1-example></app-service1-example>
  <app-service2-example></app-service2-example>
</app-card>
<app-card titulo="Ciclo de vida">
  <app-life-cycle></app-life-cycle>
  <app-father-life-cycle></app-father-life-cycle>
</app-card>