<app-first-component></app-first-component>
<app-second-component></app-second-component>
<app-pipe-custom></app-pipe-custom>
<app-two-way-data-binding></app-two-way-data-binding>
<app-lists-render></app-lists-render>
<app-custom-component nome="Caio" sobrenome="Kenedy"></app-custom-component>
<app-custom-component nome="Joao" sobrenome="José"></app-custom-component>
<app-father-component></app-father-component>
<app-service1-example></app-service1-example>
<app-service2-example></app-service2-example>
<app-life-cycle></app-life-cycle>
<app-father-life-cycle></app-father-life-cycle>